.selelct-goods{
    .btn-edit button{
        border: 1px solid gray;
    }
    .select-edit{
        display: none !important;
    }
    .select-edit2{
        margin-right: 5px !important;
    }
    .btn-finsh button{
        border: 1px solid #b31313;
        color: #b31313;
    }
}
